<h3>Favorites</h3>

  <% if @favorites.present? %>
    <% @favorites.each do |favorite| %>
      <tbody>
            <tr>
              <td><%= favorite.review.customer.name %></td>
              <td><%= favorite.review.category.name %></td>
              <td><%= favorite.review.item_name %></td>
              <td><%= link_to "詳細へ", review_path(favorite.review) %></td>
            </tr>
      </tbody>
    <% end %>
  <% end %>


  <!--<div class="d-flex justify-content-center">-->
  <!--  <-%= paginate @reviews %>-->
  <!--</div>-->