<div class="about-container">
    <div class="about">
          <p>
                <span class="about-title">About</span><br>
                <!--ネットで洋服を購入する際、サイズを間違えたなどの失敗をしたことはありませんか?-->
                Have you ever made a mistake when shopping for clothes online, such as the wrong size?<br>
                <!--実際に商品を試着できない場合でも、自分と同じ体格の人の感想を知ることができれば、実際に着用したときのイメージがしやすくなります-->
                When you can't actually try on a product, if you can know the impressions of people with the same physique as you,<br>
                it will be easier to imagine what it will be like when you wear it.<br>
                <!--当サイトは、商品を購入した方が実際に着用して感想をシェアし、お買い物やスタイリングの参考にしていただけるレビューサイトです。-->
                This site is a review site that allows people who have purchased a product to share their<br>
                <!--実際に着た感想をまとめ、ショッピングやスタイリングの参考にしています。-->
                impressions of what they actually wore and use it as a reference for shopping and styling.
          </p>
    </div>
</div>