<%= stylesheet_link_tag "application", :media => "all" %>


<div class="container">
    <div class="row">
        <div class="col-10 offset-1 ">

            <div class="row-10 mb-5 top-image">
                <div class="col-8 p-2 top-text">
            	  	<p>
            	  	  <span class="h3 font-weight-bold">ようこそNaganoCakeへ！</span><br>
            	  	  このサイトは、ケーキ販売のECサイトになります。<br>
            	  	  会員でない方も商品の閲覧はできますが、<br>
            	  	  購入には会員登録が必要になります。<br>
            	    </p>
        	    </div>
            </div>
        </div>
    </div>
</div>


<!--<h1>ここはTopページです</h1>-->

<!--<-%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>-->
