<div class="container">
  <div class="row">
    <div class="col-md-8 offset-1">
      <h3 lass="my-4", style="width:120px; padding-left: 12px"><b>Customers</b></h3>

       <table class="table">
        <thead>
          <tr>
              <th>CustomerID</th>
              <th>name</th>
              <th>email</th>
          </tr>
        </thead>
        <% @customers.each do |customer| %>
          <tbody>
            <tr>
              <td><%= customer.id %></td>
              <td>
                <%= link_to "#{customer.name}", admin_customer_path(customer.id) %>
              </td>
              <td><%= customer.email %></td>
            </tr>
          </tbody>
        <% end %>
    </table>
    </div>
  </div>
</div>
  <!--<div class="row justify-content-center">-->
  <!--    <-%= paginate @customers %>-->
  <!--</div>-->

