<div class='container'>
   <h4 class="my-4 text-center"><b><%= @customer.name %>'s Member details</b></h4>
  <div class='ow mt-5 mb-5 offset-4'>
    <div class='col-md-8'>

      <table class="table table-borderless">
        <tr>
          <td>User Name</td>
          <td><%= @customer.name %></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <!--会員の登録状態を表示-->
            <% if @customer.is_deleted == true %>
              <td class="text-secondary font-weight-bold">退会</td>
            <% else %>
              <td class="text-secondary font-weight-bold">有効</td>
            <% end %>
          <td>
            <!--会員が有効時のみ退会させるを表示-->
            <% if @customer.is_deleted == false %>
              <%= link_to "退会させる", admin_customer_withdraw_path(@customer), method: :patch, data: {confirm: "削除しますか？"}, class: 'btn btn-danger btn-sm mt-2 ml-5' %>
            <% end %>
          </td>
        </tr>
      </table>
     </div>
  </div>
</div>