<div class="container">
  <div class="row justify-content-center">
    <div class="col1">
      <h3>Category</h3>
    </div>
  </div>

    <% @categories.each do |category| %>
    <div class="row justify-content-center">
      <p><%= link_to category.name, reviews_path(category_id: category.id) %></p>
    </div>
    <% end %>
</div>