@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

body {
  font-family: 'Lexend', sans-serif;
}

.review_search {
    margin-top: 6px;
}

.top-img-fluid {
  height: 700px;
  width: 100%;
}

.img-fluid {
  height: 420px !important;
  width: 100%;
}

